/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
.vs/GitHubClient/v16/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp

*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release

*.exe
*.pdb
*.manifest
*.cache
/.vs/GitHubClient/v16/
/XUnitTestProject/bin/
/XUnitTestProject/obj/